<h5>Welcome, logged in as: <%= current_user.email%></h5>

<div class="container">
    <div class="row">
            <div class="col-md-4 card02">
            <div class="panel panel-warning">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        <i class="fa fa-users" style="font-size: 50px;"></i>
                        </div>
                        <div class="col-md-8">
                            <h4>Manage Users</h4>
                            <p style="font-size: 12px;">Approve and Disapprove SuperAdmins, Restaurant Users on Tamarid/p>
                            <button class="btn btn-warning btn-xs pull-right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <%= link_to "View", all_users_path %></button>
                                <hr>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
