.card00 {
      box-shadow: 1px 1px 1px 1px grey;
    backgrund-color: yellow;
    border-radius: 10px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-left: 70px !important;
    text-align: center;

}