.body {
  margin: 0px !important;
}

.card00 {
      box-shadow: .5px .5px .5px .6px #cccaca;

    backgrund-color: yellow;
    border-radius: 5px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-left: 20px !important;
    text-align: center;

}

.center {
    margin-left: 23%;
    width: 50%;
    padding: 10px;
}