.card00 {
      box-shadow: .5px .5px .5px .6px grey;
    backgrund-color: yellow;
    border-radius: 5px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-left: 20px !important;
    text-align: center;

}